<body>
<style type="text/css">

    tr {
        font-size: 45%; /* Размер шрифта */
        font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
        color: #336; /* Цвет текста */
        /*text-align:left;*/
        margin-left: 100px;

    }
</style>

<table>
    <tr>
        <br>
        <td>
            <datamatrix height="50" width="150" margin_bottom="15" margin_left="5"/>
        </td>
        <td>
    <tr>

        <td align="right">Страница:
            <page_number/>
            /
            <total_page_number/>
        </td>
    </tr>
    </td>
    </tr>


</table>